$color-add-remote: #E3E3E3;
$color-selected: #f01e3a;
$color-buy: #CB001C;
$color-buy-hover: #be051e;
$color-dark-text: #000000F7;
$color-light-text: #818A8D;
$color-light: #FFFFFF;
$color-border: #0000002E